* {
    margin: 0
}

.pai {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.pai .a1 {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.a {
    width: 50%;
    height: 50%;
}

.b,
.c {
    width: 100%;
    height: 50%;
}

.d {
    width: 100%;
    height: 25%;
}

.a2 {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    height: 25%;
}

.e,
.f,
.g,
.h,
.i {
    width: 20%;
}

.a {
    background-color: aliceblue
}

.b {
    background-color: brown
}

.c {
    background-color: chocolate
}

.d {
    background-color: darkblue
}

.e {
    background-color: #eeeeee
}

.f {
    background-color: firebrick
}

.g {
    background-color: green
}

.h {
    background-color: hotpink
}

.i {
    background-color: indigo
}