* {
    margin: 0;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.b1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 66%;
    height: 100%;
}

.a1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 50%;
    height: 66%;
}

.a2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    height: 33%;
}

.a,
.b {
    width: 100%;
    height: 50%;
}

.a {
    background: darkblue
}

.b {
    background: blue;
}

.c {
    width: 50%;
    height: 66%;
    background: purple;
}

.d,
.f {
    width: 25%;
    height: 100%;
    background: hotpink;
}

.e {
    height: 100%;
    width: 50%;
    background: peru;
}

.b2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 33%;
    height: 100%;
}

.g,
.h {
    width: 50%;
    height: 33%;
    background: green;
}

.h {
    background: yellow
}

.a3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 66%;
}

.b3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 50%;
    height: 100%;
}

.i,
.j {
    height: 50%;
    width: 100%;
    background: khaki
}

.j {
    background: lavender
}

.k {
    width: 50%;
    height: 100%;
    background: brown
}